@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-lg-12">
        <div class="container welcomeCont">
            <div class = "row">
                <div class = "col-md-6 col-md-offset-3 welcomeGrid">
                    <div class="jumbotron">
                        <h2 class="welcText">WELCOME!</h2>
                        <h3 class="howText">HOW CAN WE HELP YOU?</h3>

                        <div class="btn-group btn-group-justified btn-looking">
                            <a class="btn btn-default btnLooking" href="#">I'm looking for <br /> a dog</a>
                            <a class="btn btn-default btnLooking" href="#">I'm a breeder</a>
                        </div>

                        <p class="lead let">NOT SURE?</p>
                        <img src="http://lorempixel.com/200/200/animals/7/" alt="" />
                        <img src="http://lorempixel.com/g/200/200/nature/8/" alt="" />
                        <p class="let"><a href="" class="">LET US TELL YOU MORE &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>