        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
                <div class="thumbnail thPictureSmall">
                    <img src="~/Content/img/pow.png" alt="...">
                </div>
                <ul class="list-inline text-center">
                    <li class="bone">
                        <img src="~/Content/img/Bone.png" alt="altText">
                    </li>
                    <li class="bone">
                        <img src="~/Content/img/Bone.png" alt="altText">
                    </li>
                    <li class="bone">
                        <img src="~/Content/img/Bone.png" alt="altText">
                    </li>
                    <li class="bone">
                        <img src="~/Content/img/Bone.png" alt="altText">
                    </li>
                    <li class="bone">
                        <img src="~/Content/img/Bone.png" alt="altText">
                    </li>
                </ul>
        <div class="caption">
            <ul class="list-unstyled">
                <li>
                    <strong>Certificaton:</strong> <small>sit amet</small>
                </li>
                <li>
                    <strong>Pricing:</strong> <small>sit amet</small>
                </li>
                <li>
                    <strong>Available litters:</strong> <small>sit amet</small>

                </li>
                <li>
                    <strong>Puppies:</strong> <small>sit amet</small>
                </li>
                <li>
                    <strong>Colors:</strong> <small>sit amet</small>
                </li>
                <li>
                    <strong>Vet services:</strong> <small>sit amet</small>
                </li>
                <li>
                    <strong>Shipping:</strong> <small>sit amet</small>
                </li>
            </ul>
            </div>
        </div>
        </div>
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center">----</h3>
            </div>
            <div class="panel-body text-center panelMonth">
                <span class="monthName">
                    <strong>
                        Litters
                    </strong>
                </span>
                <p class="meetUps">
                    <a href="#">
                        Check out our puppies>>
                    </a>
                </p>

            </div>
        </div>

        <div class="alert alert-warning alert-puppylisting">
            <h3 class="text-center hPreviousPuppies">
                Our previous puppies
            </h3>
            <div class="thumbnail thPicture">
                <img src="~/Content/img/child.jpg" alt="...">
            </div>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien.
            </p>
        </div>
        <br />
