<div class="thumbnail thPicture">
    <img src="~/Content/img/French.jpg" alt="...">
</div>
<div class="alert alert-warning alert-breed">
    <div class="caption">
        <h3>
            <em>French Buldog</em>
        </h3>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        <span>
            <a class="text-muted" target="_blank" href="http://en.wikipedia.org/wiki/French_Bulldog">Wikipedia</a>
        </span>
        <hr />

        <ul class="list-unstyled">
            <li>
                <strong>Lorem ipsum dolor:</strong> <small>sit amet</small>

            </li>
            <li>
                <strong>Lorem ipsum dolor:</strong> <small>sit amet</small>

            </li>
            <small>
                Lorem <strong>ipsum dolor </strong>sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            </small>
            <li>
                <strong class="">Lorem ipsum dolor:</strong> <small class="">sit amet</small></li>
        </ul>

    </div>
</div>
