@Html.Partial("_BreedPartial")

            <br />
            <div class="thumbnail thPicture">
                <img src="~/Content/img/bul.jpg" alt="...">
            </div>
            <div class="caption">
                <h4 class="text-primary text-right">
                    <a class="alert alert-warning alert-galleryButton" href="http://">
                        gallery
                    </a>
                </h4>
            </div>
            <br />

            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">----</h3>
                </div>
                <div class="panel-body text-center panelMonth">
                    <span class="monthName">
                        <strong>
                            April
                        </strong>
                    </span>
                    <p class="meetUps">
                        <a href="#">
                            Meet ups in your area >>
                        </a>
                    </p>

                </div>
            </div>