@{
    ViewBag.Title = "Index";
}

<div class="jumbotron jumboBreeder">
    <div class="row">
        <div class="col-md-4">

            <div class="alert alert-warning alert-puppylisting">
                <h3 class="text-info">Noble Frenchies</h3>

                <p class="pBreederWebsite">
                    <a class="text-muted" href="#">
                        www.noblerrenchies.com
                    </a>
                </p>
                <p class="pClass">
                    <a href="#" class="btn btn-default" role="button">
                        Follow
                    </a>
                </p>
                <br />
                <ul class="list-unstyled ulBreederCard">
                    <li class="className">
                        <strong>Location</strong>: Lorem
                    </li>
                    <li>
                        <strong>Phone</strong>: Lorem

                    </li>
                    <li>
                        <strong>Email</strong>: Lorem

                    </li>
                </ul>
                <br />
                <p class="pBreederWebsite">
                    <a class="text-muted" href="#">
                        www.sniffsters.com/noblerrenchies
                    </a>
                </p>
                <br />

                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        Share
                    </a>
                    <a href="#" class="btn btn-default" role="button">
                        Contact
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="thumbnail thPicture">
                <img src="~/Content/img/French2.jpg" alt="altText">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <a class="text-info" href="#">
            Back to the search result >>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 mainContentWrapper">
        <h2>Breeders Page</h2>
        <hr />
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        <br><br></p>
        <h3 class="text-muted">Consectetur adipiscing elit fusce vel sapien elit.</h3>
        <hr />
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>

        <h3 class="text-muted">Consectetur adipiscing elit fusce vel sapien elit.</h3>
        <hr />
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>
        <h3 class="text-muted">Consectetur adipiscing elit fusce vel sapien elit.</h3>
        <hr />
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>

        <h3 class="text-muted">Consectetur adipiscing elit fusce vel sapien elit.</h3>
        <hr />
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>
        <h3 class="text-muted">Consectetur adipiscing elit fusce vel sapien elit.</h3>
        <hr />
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>

        <h3 class="text-muted">Consectetur adipiscing elit fusce vel sapien elit.</h3>
        <hr />
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>
    </div>
    <aside class="col-lg-4">

        @Html.Partial("_BreederPartial")
    </aside>
</div>




